.list {
    list-style: none;
    padding-left: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    
    li {
        border-bottom: 1px solid lightgray;
        padding: 10px;

        &:last-child {
            border-bottom: none;
        }
    }
}